# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
const upcoming_games = `games?key=ea958761ee7f47db990ec82553924efe&dates=${currentDate},${nextYear}&ordering=-added&page_size=10`;
const newGames = `games?key=ea958761ee7f47db990ec82553924efe&dates=${lastYear},${currentDate}&ordering=-released&page_size=10`;

export const popularGamesURL = () => `${base_url}${popular_games}`;
console.log(popularGamesURL());
export const upcomingGamesURL = () => `${base_url}${upcoming_games}`;

export const newGamesURL = () => `${base_url}${newGames}`;
//GAME DETAILS
export const gameDetailsURL = (game_id) =>
  `${base_url}games/${game_id}?key=ea958761ee7f47db990ec82553924efe`;
console.log(gameDetailsURL());
//Game ScreenShots
export const gameScreenshotURL = (game_id) =>
  `${base_url}games/${game_id}/screenshots?key=ea958761ee7f47db990ec82553924efe`;
//Searched game
export const searchGameURL = (game_name) => `${base_url}games?search=${game_name}&page_size=9`;


const StyleGame = styled.div`
  img {
    width: 100%;
  }
`;

const GameList = styled.div`
  padding: 0rem 5rem;
`;

const Games = styled.div`
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 3rem;
`;